langchain-core
langchain-community
langchain-postgres
langchain-ollama
langsmith
sentence-transformers

sqlalchemy>=2

psycopg[binary]
pgvector

fastapi
uvicorn[standard]
python-dotenv
pydantic

transformers
torch
accelerate

